INFO 347/Lab 6 Resources/5.2/.DS_Store
*.zip
INFO 347/Lab 6 Resources/.DS_Store
INFO 347/Lab 6 Resources/5.3/.DS_Store
INFO 347/Lab 6 Resources/5.4/.DS_Store
INFO 347/Lab 6 Resources/kayakch5/.DS_Store
