* {
  box-sizing: border-box;
}


body {
  background-color: #f5f5f5;
  color: #40407a;
  font-family: Verdana, Arial, sans-serif;
  max-width: none;
  min-width: none;
}

header {
  background-color: #80cbc4;
  background-image: url('lilyheader.jpg');
  background-position: right;
  background-repeat: no-repeat;
  margin-top: 50px;
  font-size: 90%;
  min-height: 200px;
}

.onethird {
  float: left;
  width: 33%;
  padding: 2em;
  display: block;
}

.onehalf {
  float: left;
  width: 50%;
  padding: 2em;
  display: none;
}

.home {
  height: 20vh;
  padding-top: 2em;
  padding-left: 10%;
  font-size: auto;
  min-height: none;
}

.content {
  padding-bottom: none;
  padding-left: 10%;
  height: 20vh;
}

#mathero,
#loungehero {
  clear: both;
  display: none;
  clear: none;
}

#flow {
  display: block;
}

header a:link,
header a:visited {
  text-decoration: none;
  color: #FFFFFF;
}

header a:hover {
  color: #EDF5F5;
}


nav {
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: auto;
  padding-right: 0;
}

#wrapper {
  margin: 0;
  width: auto;
}

nav a {
  text-decoration: none;
}

h1 {
  line-height: 400%;
  text-indent: 1em;
}

footer {
  font-size: small;
  font-style: italic;
  text-align: center;
  clear: right;
}

li,
dd {
  font-size: 90%;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding-right: 2em;
  font-size: 1.2em;
}

nav li {
  display: inline;
  padding-left: 4em;
}

nav a:link {
  color: #3F2860;
}

nav a:visited {
  color: #497777;
}

nav a:hover {
  color: #A26100;
}

@media (min-width: 600px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
  }

  section {
    padding-left: 2em;
    padding-right: 2em;
    flex: 1;
  }

  #mathero, #loungehero {
    display: block;
    margin-bottom: 1em;
  }

  #flow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  header {
      font-size: 120%;
  }

  .home {
      height: 50vh;
      padding-top: 5em;
      padding-left: 8em;
  }

  .content {
      height: 30vh;
      padding-top: 2em;
      padding-left: 8em;
  }

  #wrapper {
      margin: auto;
      width: 80%;
  }
}
